<%= nested_form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :owner %><br>
    <%= f.collection_select :owner, User.all, :id, :email %>
  </div>
  <div class="field">
    <%= f.label :points %><br>
    <%= f.select :points, (0..3) %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, Story.statuses.map{|k,v| [v,k]} %>
  </div>
  <div class="field">
    <%= f.label :story_type %><br>
    <%= f.text_field :story_type %>
  </div>
  <div class="field">
    <%= f.label :requester %><br>
    <%= f.collection_select :requester, User.all, :id, :email %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <%= f.fields_for(:tasks) do |task_form| %>
    <%= task_form.check_box :completed %>
    <%= task_form.text_field :name %>
    <%= task_form.link_to_remove "Remove this task" %>
  <% end %>
  <p><%= f.link_to_add "Add a task", :tasks %></p>
        
  <div class="actions">
    <%= f.submit %>
  </div>
  <%end %>

