<h1>Listing stories</h1>

<table>
  <thead>
    <tr>
      <th>Owner</th>
      <th>Points</th>
      <th>Status</th>
      <th>Story type</th>
      <th>Requester</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.owner %></td>
        <td><%= story.points %></td>
        <td><%= story.status %></td>
        <td><%= story.story_type %></td>
        <td><%= story.requester %></td>
        <td><%= story.description %></td>
        <td><%= link_to 'Show', story %></td>
        <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path %>
