<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @story.owner %>
</p>

<p>
  <strong>Points:</strong>
  <%= @story.points %>
</p>

<p>
  <strong>Status:</strong>
  <%= @story.status %>
</p>

<p>
  <strong>Story type:</strong>
  <%= @story.story_type %>
</p>

<p>
  <strong>Requester:</strong>
  <%= @story.requester %>
</p>

<p>
  <strong>Description:</strong>
  <%= @story.description %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
